<h2>Pobieranie JSONA z https://www.googleapis.com/books/v1/volumes?q=Jobs</h2>

<ul class="elements">
  <li *ngFor="let p of elements; let i=index;">
    <span class="badge">{{i+1}}</span> {{p.volumeInfo.title}}
  </li>
</ul>
